@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
footer {
    background: linear-gradient(180deg, rgba(255,0,68,1) 0%, rgb(167, 0, 64) 100%);
}
.button {
    color: #fff;
    font-weight: 600;
    margin: 3em;
    background: linear-gradient(180deg, rgba(255,0,68,1) 0%, rgb(167, 0, 64) 100%);
    padding: 0.5em;
    border-radius: 1em;
    transition: all 0.5s;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.1);
    background: linear-gradient(180deg, rgb(255, 69, 118) 0%, rgb(182, 46, 98) 100%);
}
body {
    padding: 4em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.voltar.button{
    margin: 0;
    position: absolute;
    top: 2em;
    left: 2em;
}